# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
env/
backend_django/*.pyc
backend_django/*/*.pyc
backend_django/*/*/*.pyc

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# mypy 
.mypy_cache/ 